@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

/*  colors  */
$white-color: #fff;
$black-color: #000;
$profile-bg-color: rgb(14, 0, 22);
$code-bg-color: rgb(54, 9, 82);
$scrollbarBG: #333;
$thumbBG: #222;

/*  font stacks */
$font-anton:'Anton', sans-serif;
$font-bebas: 'Bebas Neue', cursive;
$font-nanum: 'Nanum Gothic', Arial, Helvetica, sans-serif;

/*  html/body */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html {
  background: $black-color;
  color: $white-color;
  font-family: $font-anton;
  font-size: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: $thumbBG $scrollbarBG;
  cursor: none;
  scroll-behavior: smooth;

  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  font-smooth: always;

  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
}

body::-webkit-scrollbar {
  width: 11px;
}

body::-webkit-scrollbar-track {
  background: $scrollbarBG;
}

body::-webkit-scrollbar-thumb {
  background-color: $thumbBG;
  border-radius: 6px;
  border: 3px solid $scrollbarBG;
  cursor: none;
}

/*  utilities  */

.hovered {
  transform: scale(2.8);
  transition: scale both ease-in-out;
}

.hidden {
  opacity: 0;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $white-color;
  cursor: none;
}

img {
  display: block;
  width: 100%;
}

section {
  min-height: 100vh;
}

/*  mobile  */

@mixin mediaSm {
  @media screen and (max-width: 600px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (max-width: 1300px) {
    @content;
  }
}

@mixin mediaVt {
  @media screen and (max-height: 550px) {
    @content;
  }
}
