.summary-container {
  max-width: 140rem;
  margin: auto;
  padding: 2rem;
  font-family: $font-nimbus;
  .summary-title {
    font-size: 5rem;
    text-align: center;
    font-family: $font-nimbus-bold;
  }
  .summary-subtitle {
    font-size: 3.8rem;
    text-align: center;
  }
  article {
    padding: 5rem 0;
    h3 {
      font-size: 2.5rem;
      padding-bottom: 3rem;
    }
    p {
      font-size: 1.8rem;
      padding-bottom: 2rem;
      line-height: 1.5;
    }
    ul li {
      margin-bottom: 1.5rem;
      font-size: 1.8rem;
      span svg {
        margin: 0 1rem -0.4rem 0;
      }
    }
    .code-snippet-wrap {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin: 2rem 0;
      code {
        display: inline-block;
        margin-bottom: 2rem;
        padding: 2.5rem;
        background: $thumbBG;
        color: #0f0;
        font-size: 1.6rem;
        border-radius: 0.5rem;
        p {
          text-align: center;
          margin: auto;
          padding-bottom: 1rem;
          font-size: 1.4rem;
          color: $white-color;
        }
      }
    }
  }
  .summary-link-prompt {
    padding-bottom: 1rem;
    font-size: 1.8rem;
    text-align: center;
  }
  .summary-links {
    display: flex;
    justify-content: center;
    margin: 2rem auto 6rem;
    a {
      margin: 0 4.5rem;
      font-size: 1.9rem;
      font-family: $font-nimbus-bold;
      position: relative;
      &:after {
        content: '';
        width: 70%;
        height: 0.1rem;
        background: $white-color;
        position: absolute;
        bottom: -0.3rem;
        left: 0;
        right: 0;
        margin: auto;
      }
    }
  }
}
