/*  Projects  */
.home-section-2 {
  display: grid;
  grid-template-columns:
    minmax(8vw, 1fr) minmax(30rem, 40rem) minmax(4rem, 14rem)
    minmax(30rem, 40rem) minmax(8vw, 1fr);
  grid-template-rows: repeat(5, 60rem);
  grid-gap: 50rem 0;
  margin: 40rem 0;

  .slideDown {
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    opacity: 0;
    transform: translateY(200px);
  }

  .slideDown.enter {
    transition: opacity 1s ease-in-out,
      transform 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    opacity: 1;
    transform: translateY(0);
  }
}

.project-card {
  text-align: center;

  .flip-container {
    position: relative;
    perspective: 1000px;

    .flipper {
      position: relative;
      transform-style: preserve-3d;
      transition: 0.6s;
      .card-front,
      .card-back {
        backface-visibility: hidden;
      }
      .card-front {
        position: relative;
        z-index: 2;
        transform: rotateY(0deg);
        img {
          height: auto;
          position: relative;
        }
      }
      .card-back {
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        padding: 2.4rem;
        background: $white-color;
        color: $black-color;
        font-family: $font-nanum;
        text-align: center;
        transform: rotateY(180deg);

        img {
          width: 50px;
          margin: 0 auto 1rem;
        }
        h1 {
          font-size: 2rem;
        }
        p {
          max-width: 400px;
          margin: auto;
          padding-bottom: 3rem;
          font-size: 1.3rem;
          text-align: left;
          line-height: 1.4;
          &::first-letter {
            font-size: 3rem;
            line-height: initial;
          }
        }
        .card-btn-wrap {
          position: absolute;
          bottom: 4rem;
          left: 0;
          right: 0;
          .card-btn {
            font-size: 1.4rem;
            color: $black-color;
            border: 1px solid $black-color;
            padding: 0.5rem 1rem;
            border-radius: 5px;
            margin: 2vw;
            font-family: $font-bebas;
            &:hover {
              opacity: 0.6;
            }
          }
        }
      }
    }
  }

  .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    transform: scaleY(0);
    opacity: 0;
  }

  .project-content {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    margin: auto;
    padding: 2rem 1.5rem;
    font-family: $font-nanum;
    transform: scale(0);
    opacity: 0;
    transition: all 0.5s linear;

    h1 {
      font-size: 3rem;
    }

    h2 {
      font-size: 1.5rem;
    }
  }

  &,
  .flip-container,
  .card-front,
  .card-back {
    width: 100%;
    height: 100%;
  }

  .flip:hover .flipper {
    transform: rotateY(180deg);
  }

  &:hover .overlay {
    transform: scaleY(1);
    opacity: 1;
  }

  &:hover .project-content {
    transform: scale(1);
    opacity: 1;
  }

  &:nth-child(3n) {
    width: 70vw;
    max-height: 60%;
    min-width: 700px;
    grid-column: span 5;
  }

  &:nth-child(1),
  &:nth-child(4),
  &:nth-child(7) {
    grid-column: 2 / 3;
    margin-top: 10rem;
  }

  &:nth-child(2),
  &:nth-child(5) {
    grid-column: 4 / 5;
  }

  &:nth-child(3) {
    justify-self: flex-end;
  }
}
