/*  Projects  */
.home-section-2 {
  display: grid;
  grid-template-columns:
    minmax(8vw, 1fr) minmax(30rem, 40rem) minmax(4rem, 14rem)
    minmax(30rem, 40rem) minmax(8vw, 1fr);
  grid-template-rows: repeat(4, 60rem);
  gap: 50rem 0;
  margin: 40rem 0;

  .project-card {
    text-align: center;
    font-family: $font-nimbus;
    .flip-container {
      position: relative;
      perspective: 1000px;

      .flipper {
        position: relative;
        transform-style: preserve-3d;
        transition: 0.6s;
        .card-front,
        .card-back {
          backface-visibility: hidden;
        }
        .card-front {
          position: relative;
          z-index: 2;
          transform: rotateY(0deg);
          img {
            height: auto;
            position: relative;
          }
        }
        .card-back {
          min-height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 2.4rem;
          line-height: 1.5;
          background: $white-color;
          color: $black-color;
          text-align: center;
          transform: rotateY(180deg);
          img {
            margin-bottom: 1rem;
          }
          h1 {
            font-size: 2rem;
          }
          p {
            max-width: 400px;
            padding-bottom: 1rem;
            font-size: 1.6rem;
            text-align: left;
            &::first-letter {
              font-size: 3rem;
              line-height: 1ch;
            }
          }
          p:nth-of-type(2) {
            padding-bottom: 0.5rem;
            &::first-letter {
              font-size: 1.6rem;
            }
          }
          .summary-btn {
            font-size: 1.5rem;
            font-weight: 700;
            color: $black-color;
            text-decoration: underline;
            text-transform: uppercase;
            &:hover {
              opacity: 0.7;
              color: $code-bg-color;
            }
          }
          .card-btn-wrap {
            margin-top: 6rem;
          }
          .card-btn {
            font-size: 1.5rem;
            color: $black-color;
            border: 1px solid $black-color;
            padding: 0.6rem 1.2rem;
            border-radius: 5px;
            margin: 0 2.5rem;
            line-height: 1.5rem;
            font-family: $font-nimbus-bold;
            &:hover {
              opacity: 0.7;
              color: $code-bg-color;
              border-color: $code-bg-color;
            }
          }
        }
      }
    }

    .overlay {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
      transition: 0.3s ease-in-out;
      transform: scaleY(0);
      opacity: 0;
    }

    .project-content {
      position: absolute;
      top: 40%;
      left: 0;
      right: 0;
      margin: auto;
      padding: 2rem 1.5rem;
      font-family: $font-nimbus-bold;
      transform: scale(0);
      opacity: 0;
      transition: 0.5s linear;

      h1 {
        font-size: 3rem;
        font-size: 4.4rem;
      }

      h2 {
        font-size: 1.6rem;
        font-size: 2rem;
      }
    }

    &,
    .flip-container,
    .card-front,
    .card-back {
      width: 100%;
      height: 100%;
    }

    .flip:hover .flipper {
      transform: rotateY(180deg);
    }

    &:hover .overlay {
      transform: scaleY(1);
      opacity: 1;
    }

    &:hover .project-content {
      transform: scale(1);
      opacity: 1;
    }

    &:nth-child(-n + 3) {
      width: 70vw;
      max-height: 60%;
      min-width: 700px;
      grid-column: span 5;
    }

    &:nth-child(n + 4) {
      .card-front {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 65rem;
        img {
          width: 12rem;
        }
      }
      .project-content h1 {
        font-size: 3rem;
      }
    }

    &:nth-child(4) {
      grid-column: 2 / 3;
      margin-top: 10rem;
      .card-front {
        background: linear-gradient(
          107deg,
          rgb(72, 81, 86) 11.2%,
          rgb(187, 187, 187) 90.7%
        );
      }
    }

    &:nth-child(5) {
      grid-column: 4 / 5;
      .card-front {
        background: linear-gradient(
          to top left,
          rgb(148, 142, 153),
          rgb(46, 20, 55)
        );
      }
    }

    &:nth-child(2) {
      justify-self: flex-end;
    }
  }
}
