:root {
  --white-color: #fff;
  --black-color: #000;
  --profile-bg-color: orangered;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--black-color);
  color: var(--white-color);
}

a {
  text-decoration: none;
  color: var(--white-color);
}

.home-header {
  background: var(--black-color);
}

.profile-header {
  background: var(--profile-bg-color);
}

ul {
  list-style: none;
}

nav ul {
  display: flex;
  justify-content: space-between;
  padding: 3rem 2.5rem 0;
  text-transform: uppercase;
  font-size: 1.2rem;
}

section {
  min-height: 100vh;
}

.home-section-1 {
  display: flex;
  justify-content: center;
  position: relative;
}

.projects-title {
  font-size: 6rem;
  margin-top: 10rem;
  z-index: 1;
  line-height: 1;
  text-transform: uppercase;
}

.projects-title :nth-child(2) {
  color: var(--black-color);
  text-shadow: -1px -1px 0 var(--white-color), 1px -1px 0 var(--white-color),
    -1px 1px 0 var(--white-color), 1px 1px 0 var(--white-color);
}

@supports (
  (text-stroke: 2px var(--white-color)) or
    (-webkit-text-stroke: 2px var(--white-color))
) {
  .projects-title :nth-child(2) {
    color: transparent;
    -webkit-text-stroke: 2px var(--white-color);
    text-stroke: 2px var(--white-color);
    text-shadow: none;
  }
}

.projects-title :nth-child(3) {
  font-size: 0.8rem;
  display: inline;
  float: right;
  margin-top: 1.2rem;
}

.home-section-1 img {
  max-width: 60vw;
  max-height: 50vh;
  object-fit: cover;
  position: absolute;
  right: 0;
  top: 34vh;
}

.project-card {
  background: var(--white-color); /*<--*/
  width: 30rem;
  height: 26rem;
  margin-bottom: 10rem;
  padding: 0.5rem;
  color: var(--black-color);
}

.project-content {
  margin: 1rem 0 0 95%;
  color: var(--white-color);
}

.project-content :nth-child(1) {
  width: 8rem;
  border-top: 2px solid #ccc;
  margin-left: -200%;
}

.project-1 {
  background: url('../assets/images/projects/inertia.png') no-repeat center;
  background-size: contain;
}
.project-2 {
  background: url('../assets/images/projects/online-cart-fix.png') no-repeat center;
  background-size: contain;
}

.project-3 {
  background: url('../assets/images/projects/githubSearcher.png') no-repeat
    center;
  background-size: contain;
}

.project-4 {
  background: url('../assets/images/projects/resort-rentals.png') no-repeat
    center;
  background-size: contain;
}

.project-5 {
  background: url('../assets/images/projects/clientPanel.png') no-repeat
    center;
  background-size: contain;
}

.profile-section-1 {
  background: var(--profile-bg-color);
}

.profile-link-bottom {
  text-align: center;
  text-transform: uppercase;
  font-size: 6rem;
  margin: 3rem 0;
}

.profile-link-bottom a {
  color: var(--black-color);
  text-shadow: -1px -1px 0 var(--white-color), 1px -1px 0 var(--white-color),
    -1px 1px 0 var(--white-color), 1px 1px 0 var(--white-color);
}

@supports (
  (text-stroke: 2px var(--white-color)) or
    (-webkit-text-stroke: 2px var(--white-color))
) {
  .profile-link-bottom a {
    color: transparent;
    -webkit-text-stroke: 2px var(--white-color);
    text-stroke: 2px var(--white-color);
    text-shadow: none;
  }
}

footer {
  width: 100%;
  height: 6rem;
}

footer ul {
  margin-left: 4rem;
}

footer ul li {  
  display: inline;
  padding: 0.3rem;
  font-size: 1.2rem;
}


