@font-face {
  font-family: 'Impact';
  src: url('/fonts/Impact.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  unicode-range: U+0020—007F;
  font-display: swap;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('/fonts/BebasNeue-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  unicode-range: U+0020—007F;
  font-display: swap;
}

@font-face {
  font-family: 'Nanum Gothic';
  src: url('/fonts/NanumGothic-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  unicode-range: U+0020—00B7;
  font-display: swap;
}

@font-face {
  font-family: 'NimbusSanL';
  src: url('/fonts/NimbusSanL-Reg.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  unicode-range: U+0020—007F;
  font-display: swap;
}

@font-face {
  font-family: 'NimbusSanL-Bold';
  src: url('/fonts/NimbusSanL-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  unicode-range: U+0020—007F;
  font-display: swap;
}

/*  colors  */
$white-color: #fff;
$offwhite-color: #dfdfdf;
$black-color: #000;
$darkgrey-color: #454545;
$profile-bg-color: #0e0016;
$code-bg-color: #1b032b;
$scrollbarBG: #333;
$thumbBG: #222;

/*  font stacks */
$font-impact: 'Impact', Calibri, Tahoma, Roboto, sans-serif;
$font-bebas: 'Bebas Neue', Helvetica, sans-serif;
$font-nanum: 'Nanum Gothic', Helvetica, Arial, sans-serif;
$font-nimbus: 'NimbusSanL', Helvetica, Arial, sans-serif;
$font-nimbus-bold: 'NimbusSanL-Bold', Helvetica, Arial, sans-serif;

/*  html/body */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background: $black-color;
  color: $white-color;
  font-family: $font-impact;
  font-size: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: $thumbBG $scrollbarBG;
  scroll-behavior: smooth;
  cursor: none;

  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  font-smooth: always;

  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
}

body::-webkit-scrollbar {
  width: 11px;
}

body::-webkit-scrollbar-track {
  background: $scrollbarBG;
}

body::-webkit-scrollbar-thumb {
  background-color: $thumbBG;
  border-radius: 6px;
  border: 3px solid $scrollbarBG;
}

/*  mobile  */

@mixin mediaSm {
  @media screen and (max-width: 600px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (max-width: 1025px) {
    @content;
  }
}

@mixin mediaVt {
  @media screen and (max-height: 550px) and (max-width: 1020px) {
    @content;
  }
}
