@include mediaLg {
  .home-section-1 > .projects-title {
    font-size: 16rem;
  }
  .home-section-2 {
    grid-gap: 30rem 0;
    margin: 26rem 0;
  }
  .project-card {
    &:nth-child(3n) {
      align-self: center;
    }
  }
  .profile-link-bottom {
    margin-top: 40rem;
  }
  .profile-section-3 {
    p {
      max-width: 50rem;
    }
  }
  .certs-container {
    margin: 10vh 10vw;
    &::before {
      top: -2rem;
    }
  }
}

@include mediaMd {
  .cursor__inner {
    display: none;
  }

  nav ul {
    font-size: 1.3rem;
  }

  .home-section-1 {
    .projects-title {
      font-size: 14rem;
      letter-spacing: 0.4rem;
      &::after {
        font-size: 1.4rem;
      }
    }
    .img-dis-1 {
      min-width: 22rem;
      top: 8vh;
      left: 20vw;
    }
    .img-dis-2 {
      min-width: 18rem;
      top: 25vh;
      left: 67vw;
    }
    .img-dis-3 {
      min-width: 18rem;
      bottom: 14vh;
      right: 60vw;
    }
  }

  .scroll-div p {
    font-size: 1rem;
  }

  .home-section-2 {
    grid-template-columns: minmax(24rem, 30rem);
    grid-template-rows: auto;
    grid-gap: 20rem 0;
    place-content: center;
    margin: 16rem 4rem;
  }

  .project-card {
    &,
    .flip-container,
    .card-front,
    .card-back {
      width: 100%;
      min-width: 100%;
      height: 48rem;
    }
    &:nth-child(n) {
      grid-column: 1;
      min-width: 100%;
      width: 100%;
    }

    .card-front img {
      max-height: 100%;
      object-fit: contain;
    }

    .overlay,
    &:hover .overlay {
      transform: scale(1);
      opacity: 0.4;
    }
    .project-content {
      width: 50%;
      margin: auto;
      transform: scale(1);
      opacity: 1;
      background: rgba(33, 33, 33, 0.8);
      border: 1px solid $white-color;
      border-radius: 5px;
      h1 {
        font-size: 2rem;
      }
      h2 {
        font-size: 1.3rem;
      }
    }
  }

  .profile-main .profile-section-1 {
    .profile-img-div img {
      transform: scale(0.8);
    }
    .banner {
      font-size: 14rem;
      line-height: 14rem;
      letter-spacing: 0.5rem;
      word-spacing: -2rem;
    }
    .profile-banner-1 div {
      left: -60vw;
    }
    .profile-banner-2 div {
      left: -150vw;
    }
  }

  .profile-section-2 {
    font-size: 1.6rem;
    margin: 20vh 14vw 10vh;
  }

  .profile-section-3 {
    p {
      font-size: 1.6rem;
      max-width: 60vw;
    }
  }

  .certs-container {
    margin: 14vh 10vw;
    &::before {
      opacity: 0;
    }
  }

  .section-404 {
    margin-top: 8vh;
    p {
      font-size: 50rem;
      span {
        font-size: 8rem;
        word-spacing: 1rem;
      }
    }
  }
}

@include mediaSm {
  html {
    height: 100vh;
    min-height: 120%;
  }

  header nav ul {
    padding: 4.5rem 2.5rem 0;
    letter-spacing: 1px;
  }

  .scroll-div {
    bottom: 1rem;
  }

  .home-section-1 {
    min-height: 96vh;
    .projects-title {
      font-size: 8rem;
      &::after {
        font-size: 1rem;
        right: 5%;
        letter-spacing: 0.5px;
      }
    }
    .img-dis-1 {
      min-width: 13rem;
      top: 13vh;
      left: 25vw;
    }
    .img-dis-2 {
      min-width: 10rem;
      top: 52vh;
      left: 6vw;
    }
    .img-dis-3 {
      min-width: 10rem;
      bottom: 16vh;
      right: 10vw;
    }
  }

  .profile-link-bottom {
    margin-top: 0;
    span {
      font-size: 1rem;
    }
    a {
      font-size: 4.5rem;
    }
  }

  .project-card .project-content {
    width: 60%;
  }

  .profile-main .profile-section-1 {
    min-height: 96vh;
    .profile-img-div img {
      transform: scale(0.5);
    }
    .banner {
      font-size: 12rem;
      line-height: 12rem;
    }
  }

  .profile-section-2 {
    font-size: 1.4rem;
    margin: 18vh 10vw 10vh 14vw;
    .coding-wrap .coding-line {
      padding-left: 1rem;
      &::before {
        left: -2.4rem;
      }
    }
  }

  .profile-section-3 {
    p {
      margin-bottom: 20rem;
      font-size: 1.4rem;
    }
  }

  footer {
    left: 3rem;
  }

  .certs-container {
    margin-bottom: 18vh;
  }

  .section-404 {
    p {
      font-size: 30rem;
      span {
        bottom: 9vh;
        font-size: 5rem;
        border: 2px solid $white-color;
      }
    }
  }
}

@include mediaVt {
  .home-section-1 {
    .img-dis-1 {
      width: 10rem;
      min-width: 10rem;
      top: 22vh;
      left: 8vw;
    }
    .img-dis-2 {
      min-width: 10rem;
      top: 50vh;
      left: 26vw;
    }
    .img-dis-3 {
      min-width: 11rem;
      bottom: 16vh;
      right: 10vw;
    }
  }

  .project-card .project-content {
    width: 60%;
  }

  .profile-main .profile-section-1 {
    .profile-img-div img {
      transform: scale(0.5);
    }
    .banner {
      font-size: 10rem;
      letter-spacing: 1.9rem;
      line-height: 10rem;
    }
    .profile-banner-1 div {
      left: -112vw;
    }
    .profile-banner-2 div {
      left: -188vw;
    }
  }

  .profile-section-3 {
    p {
      margin-top: 0;
    }
  }

  .certs-container {
    margin: 25vh 16vw 35vh;
  }

  .section-404 {
    margin-top: 16vh;
    p {
      font-size: 30rem;
      span {
        bottom: 24vh;
        font-size: 5rem;
        border: 2px solid $white-color;
      }
    }
  }
}
