@include mediaLg {
  .home-section-2 {
    gap: 30rem 0;
    margin: 26rem 0;
  }
  .project-card {
    &:nth-child(3n) {
      align-self: center;
    }
  }
  .profile-link-bottom {
    margin-top: 30rem;
  }
}

@include mediaMd {
  .cursor {
    opacity: 0;
  }

  .home-section-1 {
    .projects-title {
      font-size: 12rem;
      letter-spacing: 0.1rem;
      &::after {
        font-size: 1.4rem;
      }
    }
    .img-dis-1 {
      min-width: 22rem;
      top: 8vh;
      left: 20vw;
    }
    .img-dis-2 {
      min-width: 18rem;
      top: 25vh;
      left: 67vw;
    }
    .img-dis-3 {
      min-width: 18rem;
      bottom: 14vh;
      right: 60vw;
    }
  }

  .scroll-div p {
    font-size: 1rem;
  }

  .home-section-2 {
    grid-template-columns: minmax(24rem, 30rem);
    grid-template-rows: auto;
    gap: 20rem 0;
    place-content: center;
    margin: 14rem 4rem;
  }

  .project-card {
    &,
    .flip-container,
    .card-front,
    .card-back {
      width: 100%;
      min-width: 100%;
      height: 48rem;
    }
    &:nth-child(n) {
      grid-column: 1;
      min-width: 100%;
      width: 100%;
    }

    .card-front img {
      max-height: 100%;
      object-fit: contain;
    }

    .overlay,
    &:hover .overlay {
      transform: scale(1);
      opacity: 0.4;
    }
    .project-content {
      width: 50%;
      margin: auto;
      transform: scale(1);
      opacity: 1;
      background: rgba(33, 33, 33, 0.8);
      border: 1px solid $white-color;
      border-radius: 5px;
      h1 {
        font-size: 2rem;
      }
      h2 {
        font-size: 1.3rem;
      }
    }
  }

  .profile-main {
    .profile-section-1 {
      .profile-img-div img {
        transform: scale(0.8);
      }
      .banner {
        font-size: 14rem;
        line-height: 14rem;
        letter-spacing: 0.3rem;
      }
      .profile-banner-1 div {
        left: -60vw;
      }
      .profile-banner-2 div {
        left: -150vw;
      }
    }

    .profile-section-2 > .bio {
      margin: 20vh 12vw -14vh 19vw;
    }

    .profile-section-3 {
      margin: 0 18vw 10vh 10vw;
    }

    .profile-contact-email a {
      font-size: 4.5rem;
    }

    .test-icons {
      margin: 16vh 18vw;
      img {
        width: 2.4rem;
        height: 2.4rem;
      }
    }
  }

  .react-main > #react-section-2 > .react-project-grid {
    margin-bottom: 10vh;
    .react-card-container > .react-card > .react-card-content {
      padding: 1rem 0.2rem 2rem;
      h2 {
        font-size: 2.4rem;
      }
      a {
        font-size: 1rem;
        padding: 0.8rem 1.6rem;
      }
    }
  }

  .section-404 {
    padding-top: 8vh;
    p {
      font-size: 50rem;
      span {
        font-size: 8rem;
        word-spacing: 1rem;
      }
    }
  }
}

@include mediaSm {
  html {
    height: 100vh;
    min-height: 120%;
  }

  header {
    letter-spacing: 1px;
    nav ul {
      padding: 4.5rem 2.5rem 0;
    }
  }

  .scroll-div {
    bottom: 1rem;
  }

  .home-section-1 {
    min-height: 97vh;
    .projects-title {
      font-size: 7rem;
      &::after {
        font-size: 1rem;
        bottom: 38%;
        right: 2%;
        letter-spacing: 0.7px;
      }
    }
    .img-dis-1 {
      min-width: 13rem;
      top: 13vh;
      left: 25vw;
    }
    .img-dis-2 {
      min-width: 10rem;
      top: 52vh;
      left: 6vw;
    }
    .img-dis-3 {
      min-width: 10rem;
      bottom: 16vh;
      right: 10vw;
    }
  }

  .project-card .project-content {
    width: 60%;
  }

  .profile-link-bottom {
    margin-top: 24rem;
    span {
      font-size: 1.3rem;
      img {
        width: 1.6rem;
      }
    }
    a {
      font-size: 5.5rem;
    }
  }

  .profile-main {
    .profile-section-1 {
      min-height: 97vh;
      .profile-img-div img {
        transform: scale(0.5);
      }
      .banner {
        font-size: 12rem;
        line-height: 12rem;
      }
    }

    .profile-section-2 > .bio {
      margin: 20vh 4vw -34vh 13vw;
      p {
        font-size: 1.6rem;
      }
    }

    .profile-section-3 {
      font-size: 1.6rem;
      margin: 0 4vw 8vh 8.5vw;
      .coding-wrap {
        .coding-line {
          padding-left: 1.2rem;
          &::before {
            left: -2.3rem;
          }
        }
        .bio-title {
          margin-bottom: 38vh;
        }
      }
    }

    .profile-contact-email a {
      font-size: 2.8rem;
    }

    .test-icons {
      margin: 18vh 10vw 22vh;
      img {
        width: 2.1rem;
        height: 2.1rem;
      }
    }
  }

  .copyright {
    text-align: center;
    padding-right: 0;
    font-size: 1rem;
  }

  footer {
    left: 3rem;
  }

  .section-404 {
    p {
      font-size: 30rem;
      span {
        bottom: 9vh;
        font-size: 5rem;
        border: 2px solid $white-color;
      }
    }
  }

  .vanilla-main #vanilla-section-1 {
    min-height: 100vh;
    h1 {
      margin-bottom: 10rem;
    }
  }

  .react-main > #react-section-1 {
    min-height: 105vh;
    h1 {
      margin-bottom: 14rem;
    }
  }
}

@include mediaVt {
  .home-section-1 {
    .projects-title {
      font-size: 8rem;
      &::after {
        font-size: 1rem;
        right: 5%;
        letter-spacing: 0.5px;
      }
    }
    .img-dis-1 {
      width: 10rem;
      min-width: 10rem;
      top: 22vh;
      left: 8vw;
    }
    .img-dis-2 {
      min-width: 10rem;
      top: 50vh;
      left: 26vw;
    }
    .img-dis-3 {
      min-width: 11rem;
      bottom: 16vh;
      right: 10vw;
    }
  }

  .project-card .project-content {
    width: 60%;
  }

  .scroll-div p {
    font-size: 1rem;
  }

  .profile-main {
    .profile-section-1 {
      .profile-img-div img {
        transform: scale(0.5);
      }
      .banner {
        font-size: 10rem;
        letter-spacing: 0.3rem;
        line-height: 10rem;
      }
    }
    .test-icons {
      margin: 18vh 10vw 30vh;
      img {
        width: 2.1rem;
        height: 2.1rem;
      }
    }
  }

  .section-404 {
    padding-top: 16vh;
    p {
      font-size: 30rem;
      span {
        bottom: 24vh;
        font-size: 5rem;
        border: 2px solid $white-color;
      }
    }
  }
}
