.profile-main {
  background: $profile-bg-color;
  text-align: center;
  overflow-x: hidden;

  .profile-section-1 {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    .profile-img-div {
      position: absolute;
      z-index: 1;
      img {
        width: 50rem;
        height: 40rem;
        object-fit: cover;
      }
    }

    .banner {
      display: inline-block;
      position: absolute;
      font-size: 24rem;
      text-transform: uppercase;
      letter-spacing: 0.6rem;
      word-spacing: -2rem;
      line-height: 22rem;
      white-space: nowrap;
      transform: skew(22deg) rotate(-7deg) scale(1.2, 0.8);
      transform-origin: 0 0;
      div {
        transition: transform 0.3s ease-out;
      }
    }

    .profile-banner-1 {
      z-index: 0;

      div {
        position: absolute;
        bottom: 0;
        left: -55vw;
      }
    }

    .profile-banner-2 {
      z-index: 2;

      div {
        position: absolute;
        top: 0;
        left: -100vw;
        color: $profile-bg-color;
        text-shadow: -1px -1px 0 $white-color, 1px -1px 0 $white-color,
          -1px 1px 0 $white-color, 1px 1px 0 $white-color;
      }

      @supports (
        (text-stroke: 1px $white-color) or
          (-webkit-text-stroke: 1px $white-color)
      ) {
        div {
          color: transparent;
          -webkit-text-stroke: 1px $white-color;
          text-stroke: 1px $white-color;
          text-shadow: none;
        }
      }
    }
  }

  .profile-section-2 {
    min-height: auto;
    font-family: $font-nimbus;
    .bio {
      margin: 24vh 24vw -14vh;
      p {
        font-size: 1.8rem;
        text-align: left;
      }
    }
  }

  .profile-section-3 {
    min-height: auto;
    margin: 0 25vw 10vh 12vw;
    font-family: $font-nimbus;
    line-height: 2.1ch;
    position: relative;
    text-align: left;
    font-size: 1.8rem;

    .coding-wrap {
      position: relative;
      color: lighten($code-bg-color, 40%);
      .vert-line {
        border-left: 1px solid lighten($code-bg-color, 8%);
        position: absolute;
        top: 1rem;
        left: 0;
        height: 98%;
      }

      .coding-title {
        font-family: $font-nimbus-bold;
        text-transform: uppercase;
        font-size: 1.4rem;
        margin-bottom: 10vh;
        color: #6e607b;
        &::after {
          content: '';
          width: 7px;
          height: 7px;
          border-radius: 50%;
          border: 2px solid lighten($code-bg-color, 25%);
          background: $profile-bg-color;
          position: absolute;
          top: 0.4rem;
          left: -0.56rem;
        }
      }

      .coding-line {
        position: relative;
        padding-left: 1.8rem;

        &::before {
          content: attr(data-line-num);
          position: absolute;
          top: 0;
          left: -3.5rem;
          color: lighten($code-bg-color, 25%);
        }

        a {
          color: lighten($code-bg-color, 40%);
          span {
            text-decoration: underline;
          }
        }

        .dot {
          display: inline;
          vertical-align: middle;
          color: lighten($code-bg-color, 20%);
        }
        .coding-bright {
          color: #ff0;
          text-shadow: 0 0 2px $profile-bg-color, 0 0 4px #ff0;
        }

        .coding-desc {
          color: #f835f8;
        }

        .coding-proper {
          color: #fcf1f1;
          text-shadow: 0 0 2px $profile-bg-color, 0 0 4px #f00, 0 0 6px #f00;
        }
      }
      .coding-data {
        color: #0f0;
      }
      .bio-title {
        margin-bottom: 28vh;
      }

      .profile-contact {
        margin: 14vh 0 0;
      }
    }
  }

  .profile-contact-email {
    margin: auto;
    a {
      margin-top: -0.5rem;
      font-size: 6rem;
      text-transform: lowercase;
    }
  }

  .test-icons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
    gap: 2rem;
    place-items: center;
    margin: 21vh 18vw;
  }
}
