.profile-main {
  background: $profile-bg-color;
  text-align: center;
  overflow-x: hidden;

  .profile-section-1 {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    .profile-img-div {
      position: absolute;
      z-index: 1;

      img {
        width: 50rem;
        height: 40rem;
        object-fit: cover;
      }
    }

    .banner {
      position: absolute;
      font-size: 19rem;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 0.8rem;
      word-spacing: -1.5rem;
      line-height: 20rem;
      white-space: nowrap;
      transform: skew(22deg) rotate(-7deg);
    }

    .profile-banner-1 {
      z-index: 0;

      div {
        position: absolute;
        bottom: 0;
        left: -55vw;
        transition: transform 0.2s linear;
      }
    }

    .profile-banner-2 {
      z-index: 2;

      div {
        position: absolute;
        top: 0;
        left: -100vw;
        color: $profile-bg-color;
        text-shadow: -1px -1px 0 $white-color, 1px -1px 0 $white-color,
          -1px 1px 0 $white-color, 1px 1px 0 $white-color;
        transition: transform 0.2s linear;
      }

      @supports (
        (text-stroke: 1px $white-color) or
          (-webkit-text-stroke: 1px $white-color)
      ) {
        div {
          color: transparent;
          -webkit-text-stroke: 1px $white-color;
          text-stroke: 1px $white-color;
          text-shadow: none;
        }
      }
    }
  }
}

.profile-section-2 {
  min-height: auto;
  margin: 24vh 25vw 10vh;
  font-family: $font-nanum;
  position: relative;
  text-align: left;
  font-size: 1.8rem;

  .coding-wrap {
    color: #8a2be2;

    .vert-line {
      border-left: 1px solid #542472;
      position: absolute;
      top: 1.2rem;
      left: 0;
      height: 97%;
    }

    .coding-title {
      font-family: $font-bebas;
      margin: 0;
      color: rgb(104, 98, 110);

      &::after {
        content: attr(data-line-point);
        position: absolute;
        top: -1.3rem;
        left: -0.55rem;
        font-size: 4rem;
        color: #8a2be2;
      }
    }

    .coding-line {
      position: relative;
      padding-left: 1.8rem;

      &::before {
        content: attr(data-line-num);
        position: absolute;
        top: 0;
        left: -3.5rem;
        color: $code-bg-color;
      }

      a {
        color: #8a2be2;
      }

      .dot {
        display: inline;
        vertical-align: middle;
        color: $code-bg-color;
      }
      .coding-bright {
        color: #ff0;
        text-shadow: 0 0 2px $profile-bg-color, 0 0 4px #ff0;
      }

      .coding-decs {
        color: #483d8b;
      }

      .coding-desc {
        color: #f835f8;
      }

      .coding-proper {
        color: #fcf1f1;
        text-shadow: 0 0 2px $profile-bg-color, 0 0 4px #f00, 0 0 6px #f00;
      }
    }
    .coding-data {
      color: #0f0;
    }
    .bio-title {
      margin-top: 18%;
    }
  }
}

.profile-section-3 {
  min-height: auto;
  padding-bottom: 10rem;
  font-family: $font-nimbus;
  p {
    max-width: 70rem;
    margin: 0 auto 30rem;
    font-size: 1.8rem;
    text-align: left;
  }
}
