.hidden {
  opacity: 0;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $white-color;
  cursor: none;
}

img {
  display: block;
  width: 100%;
}

section {
  min-height: 100vh;
}
