.vanilla-main {
  background: $offwhite-color;
  color: $black-color;
  #vanilla-section-1 {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 2rem;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
      url('../assets/images/vanilla/bg-intro.jpg') center center / cover
        no-repeat;
    h1 {
      font-size: 3.5rem;
      color: $white-color;
      font-family: $font-nanum;
    }
  }
  #vanilla-section-2 {
    padding: 4rem 2rem;
    font-family: $font-nimbus;
    .vanilla-grid {
      max-width: 1400px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(18rem, 40rem));
      grid-gap: 7rem;
      justify-content: center;
      margin: 20rem auto 10rem;
      .vanilla-card {
        width: 100%;
        background: $white-color;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
        word-break: break-all;
        transition: 400ms ease;
        .vanilla-img-div {
          position: relative;
          border-bottom: 1px solid lighten($code-bg-color, 16%);
          img {
            height: 350px;
            object-fit: cover;
          }
          span a {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 0.5rem 1rem;
            color: $offwhite-color;
            background: lighten($code-bg-color, 16%);
            font-size: 1.2rem;
            transition: 300ms ease;
            border-radius: 0 1rem 0 0;
          }
          span a:hover {
            background: lighten($code-bg-color, 25%);
          }
        }

        .vanilla-sub-caption {
          padding: 1.5rem;
          font-size: 1.5rem;
          p {
            padding: 0.5rem 0 1rem;
          }
          div {
            display: flex;
            align-items: center;
            justify-content: flex-end;
          }
          img {
            width: 2rem;
          }
          a {
            font-size: 0.9rem;
            margin-left: 1rem;
            color: $black-color;
            border: 1px solid $black-color;
            padding: 0.4rem;
            border-radius: 5px;
            text-transform: uppercase;
            transition: 300ms ease;
            &:hover {
              font-weight: bold;
              box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
              background: $offwhite-color;
            }
          }
        }
        &:hover {
          transform: scale(1.05);
          box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
        }
      }
    }
  }
}
