@import 'config';
@import 'utilities';
@import 'cursor';
@import 'home/home';
@import 'home/projects';
@import 'profile';
@import 'vanilla';
@import 'reactProjects';
@import 'notFound';

/* Nav Links*/
.nav-link {
  position: relative;
  overflow: hidden;

  .link-inner {
    color: transparent;
  }

  .link-inner-top,
  .link-inner-bottom {
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .link-inner-top {
    transform: translateY(0) translateZ(0);
  }

  &:hover .link-inner-top {
    transform: translateY(-120%) translateZ(0);
  }

  .link-inner-bottom {
    transform: translateY(120%) translateZ(0);
  }

  &:hover .link-inner-bottom {
    transform: translateY(0) translateZ(0);
  }
  .feather-download {
    padding-left: 1rem;
    line-height: 2.5;
  }
}

/*  Header  */
header {
  letter-spacing: 2px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: transparent;
  font-family: $font-nimbus;
  z-index: 10;
  nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4.5rem 5.5rem 0;
    text-transform: uppercase;
    font-size: 1.5rem;
    .link-disabled {
      display: inline-block;
      transform: scale(1.2, 0.8);
      margin-bottom: 0.2rem;
    }
  }
}

/*  Footer  */
footer {
  position: fixed;
  bottom: 7rem;
  left: 6rem;
  font-family: $font-nimbus-bold;
  z-index: 10;

  ul li {
    display: inline-block;
    padding: 0 0.8rem;
    font-size: 1.6rem;
  }
}

//  copyright
.copyright {
  padding: 0 4rem 1.2rem 0;
  text-align: end;
  font-size: 1.2rem;
  font-family: $font-nanum;
  letter-spacing: 0.1rem;
  opacity: 0.4;
  transition: opacity 300ms ease-out;
  &:hover {
    opacity: 1;
  }
}

/* css transition group  */
.fade-enter {
  opacity: 0;
  z-index: 1;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in 150ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 150ms ease-in;
}
/*  Keyframes */
/*  Bounce  */
@keyframes bounce {
  to {
    transform: translateY(0);
  }
  50% {
    transform: translateY(35%);
  }
}

@import 'mobile';
